<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ajaxcrud.persistence.ContactMapper">

  <cache />

  <!-- <select id="getAll" resultType="Contact">
  	select * 
  	from contact
  </select> -->

  <select id="selectList" resultType="Contact">
  	select * 
  	from contact
  </select>
</mapper>  